.wrapper {
    min-width: 100px;
    padding: 9px 16px;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
    border: 1px solid transparent;
    letter-spacing: 1px;
    & + & {
        margin-left: 16px;
    }
}

// Button types
.primary {
    background-color: var(--primary);
    color: rgba(255, 255, 255, 1);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}



.outline {
    min-width: 88px;
    color: rgba(254, 44, 85, 1);
    border-color: currentColor;
    &:hover {
        background: rgba(254, 44, 85, 0.06);
    }
}

.text { 
    text-decoration: underline;
    text-align: center;
    border-color:  rgba(22, 24, 35, 0.12);

    &:hover {
        background: rgba(22, 24, 35, .03);
    }
}

.disable {
    cursor:unset;
    
    background: rgb(254 44 85 / 49%);
    &:hover {
        background: rgb(254 44 85 / 49%);
    }
}

.icon-plus {
    margin-right: 8px;
}

// Button sizes
.small {
    padding: 4px 16px;
    min-width: 88px;
}

.large {
    width: 100%;
    padding: 13px 16px;
}

// icons
.icon-left {
    margin-right: 15px;
}

.icon-right {
    margin-left: 15px;
 }
