@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500&display=swap');





:root {
    --primary:rgba(254, 44, 85, 1);
    --default-layout-height : 60px;
    --default-layout-width:1150px;

    --text-color:#ccc;
    --black:#000;
    --white:#fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5rem;
    text-rendering: optimizeSpeed;
    color:var(--text-color);
}

input , button , [tabIndex] {
    outline: none;
    border: none;
}

a {
    color:var(--text-color);
    text-decoration: none;
}