@import 'normalize.css';





:root {
    --primary:rgba(254, 44, 85, 1);
    --default-layout-height : 60px;
    --default-layout-width:1150px;
    --default-padding-spacing-right-and-left:24px;
    --text-color:#ccc;
    --black:#000;
    --white:#fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Proxima-Nova-Regular";
    font-size: 1.6rem;
    line-height: 1.5rem;
    text-rendering: optimizeSpeed;
    color:var(--text-color);
}

input , button , [tabIndex] {
    outline: none;
    border: none;
}

a {
    color:var(--text-color);
    text-decoration: none;
}

//fonts
@font-face {
    font-family:"Proxima-Nova-Regular" ;
    src: url(/assets/fonts/Proxima-Nova-Regular.woff2);
    font-weight: 400;
}



// Css tippy to tooltp
body {
    &.tippy-box {
        background-color: #333333ad;
    }
    &.tippy-arrow {
        color: #333333ad;
    }
    &.tippy-box::before {
        border-bottom-color: initial;
    }
}