.menu-list {
    width: 224px;
    .menu-item {
        display: block;
        padding: 12px 16px;
        background-color: transparent;
        font-size: 1.6rem;
        color: black;
        cursor: pointer;
        width: 100%;
        text-align: left;
        line-height: 1.8rem;
        svg {
            padding-right: 10px;
            width: 20px;
        }
        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
    }
}
// Menu items
.content {
    border-radius: 5px;
}

// Header menu

.header {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
    height: 50px;
    margin-top: -12px;
    cursor: pointer;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.8rem;
}

.header-title {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
