.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    width:  var(--default-layout-width);
    display: flex;
    padding: 0px var(--default-padding-spacing-right-and-left);
}

.content {
    flex: 1;
}