.wrapper {
    --header-border-radius: 9.2rem;
    
    position: fixed;
    display: flex;
    height: var(--default-layout-height);
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    width: 100%;
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px var(--default-padding-spacing-right-and-left);
}



.actions {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.amount {
    position: absolute;
    top: 7px;
    right: 46px;
    background-color: #f0380c;
    padding: 2px 2px;
    font-size: 1.2rem;
    border-radius: 50%;
    font-weight: 800;
    color: var(--white);
}

.more-btn {
    font-size: 2rem;
    padding: 4px 6px;
    margin-left: 26px;
    cursor: pointer;
    background-color: transparent; 
}

.action-btn {
    font-size: 2rem;
    background-color: transparent;
    padding: 2px;
    cursor: pointer;
    & + & {
        margin-left: 14px;
    }

}

.action-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 14px;
}

